<!doctype html>
<html lang="es-CR" ng-app="app">

<head>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="lib/css/bootstrap/bootstrap.css">
	<script src="lib/js/angular/angular.min.js"></script>
	<script src="lib/js/angular-animate/angular-animate.min.js"></script>

	<link rel="stylesheet" href="css/scheduler.css">

	<script src="app/app.js"></script>
	<script src="app/controllers/schedule.js"></script>
</head>

<body ng-controller='scheduleCtrl'>
	<div class="container">
		<div class="panel panel-default">
			<table class="table table-hover table-bordered">
				<thead class="thead-inverse">
					<th></th>
					<th ng-repeat="day in schedule.days" class="col-md-2">{{day}}</th>
				</thead>
				<tr ng-repeat="hour in schedule.hours">
					<th scope="row">{{hour.description}}</th>
					<td ng-repeat="day in schedule.days" ng-click="schedule.switchAvailability(schedule.weekAvailability[$index][$parent.$index])" ng-style="{'background-color': schedule.weekAvailability[$index][$parent.$index].color}">
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>

</html>
